/* 选项卡 */
.tab {
    height: 80rpx;
    line-height: 80rpx;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    font-size: 30rpx;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    border-bottom: 2rpx solid #F2F2F2;
    z-index: 999;
}
.flexSa {
    box-pack: justify;
    justify-content: space-around;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
}
.size {
    font-size: 35rpx;
}
.tab_on {
    color: rgba(248, 169, 47, 1);
}
.tab_on .tab_li_line {
    background: rgba(248, 169, 47, 1);
    border-radius: 2px;
}
.tab_li_line {
    width: 56rpx;
    height: 4rpx;
    margin: 0 auto;
}
/* 内容区域 */
.content {
    padding-top: 80rpx;
    font-family: PingFang SC;
    background: rgba(255, 255, 255, 1);
}
.exams-wrap {
    height: 160rpx;
    background: rgba(255, 255, 255, 1);
    border-bottom: 2rpx solid #F2F2F2;
}
.exam-title {
    font-size: 32rpx;
    font-weight: 400;
    color: rgba(34, 34, 34, 1);
    padding: 42rpx 0rpx 25rpx 30rpx;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right-dir {
    width: 14rpx;
    height: 26rpx;
    float: right;
    margin: -67rpx 32rpx 0 0;
    background: url("../../images/返回.png") no-repeat 0 0/100% 100%;
}
.number {
    font-size: 22rpx;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(179, 179, 179, 1);
    padding: 0 49rpx 0 31rpx;
    float: left;
}
.viewparse {
    font-size: 22rpx;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(255, 106, 93, 1);
}
.arrow {
    width: 7rpx;
    height: 14rpx;
    display: inline-block;
    margin-left: 8rpx;
    background: url("../../images/redarrow.png") no-repeat 0 0/100% 100%;
}

.nocontent-icon {
    margin: 0 auto;
    margin-top: 50%;
    width: 181rpx;
    height: 174rpx;
    background: url("../../images/无评价.png") no-repeat 0 0/100% 100%;
}
.nocontent {
    text-align: center;
    font-size: 28rpx;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}
