*{
    padding:0;
    margin:0;
}
html,body,.wrapper{
    width:100%;
    height:100%;
    background-color:#000;
    overflow: hidden;
    background-image:radial-gradient(circle at center,rgba(165,0,255,.2),rgba(0,0,0,0))
}
.wrapper{
     perspective: 1000px; 
}
.box{
    position: relative;
    width: 100px;
    height:180px;
    margin:200px auto;
    transform-style: preserve-3d;
}
.box img{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    -webkit-box-reflect: below 10px linear-gradient(to top,rgba(0,0,0,.5) 30%,rgba(0, 0,0,0) 100%);
    /* transform:translateZ(100px) */
}

