
page{ 
    width: 100%;
    height: 100%;
    background: #EDF1F5;
}
.star image{
    margin-left: 46rpx;
    margin-top: 54rpx;
    margin-bottom: 32rpx;
    width: 46rpx;
    height: 44rpx;
}
.xing{
  display: flex;
    flex-direction: row;
}

.darkstar{
    background-image: url('../../images/images/darkstar.png');
    background-size: 100% 100%;
}
.brighrstar{
     background-image: url('../../grade-icon-black.png');
    background-size: 100% 100%;
}

.star{
    width: 750rpx;
    height: 218rpx;
    background: #ffffff;
    text-align: center;

}
.star{
    font-size: 30rpx;
    color: #F8A92F;
}
.content{
    position: relative;
    height: 320rpx;
    padding: 29rpx;
    margin-top: 20rpx;
    background: #fff;
}
.content textarea{
    height: 100%;
    width: 100%;
    font-size: 28rpx;
    font-weight: 400;
    font-family:PingFang SC;
}
.count{
    position: absolute;
    bottom: 17rpx;
    right: 31rpx;
    font-size: 24rpx;
    color: #B3B3B3
}
.count text{
    color: #000
}

.btn{
    margin-top: 122rpx;
}
.btn button{
    width:688rpx;
    height:70rpx;
    line-height: 70rpx;
    background:linear-gradient(-9deg,rgba(254,204,52,1),rgba(248,168,47,1));
    border-radius:35px;
    color: #fff;
}
.btn button::after{
    border: none;
}


.tips{
    position: absolute;
   top: 50%;
   left: 50%;
}
.tips text{
    background: #000;
    opacity: .5;
    color: #fff;
}