.warpper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    
}
.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .6;
}
.content{
    width: 100%;
    position: absolute;
    background: #fff;
    bottom: 0;
    
}
.text{
    background: #fafafa;
    width: 90%;
    margin-left: 5%;
}
.cancel{
    float: left;
    margin-left: 5%;
    color: #222;
}
.determine{
    float: right;
    margin-right: 5%;
    color: #F9AC30;
}
.btn{
    margin: 20rpx 0;
}
.btn::after{
    content: '';
    display: block;
    clear: both;
}