.warpper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .6;
}
.content{
    position: absolute;
    width: 366rpx;
    height: 508rpx;
     left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.gesture{
    width: 366rpx;
    height: 340rpx;
}
.btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -124rpx;
    width: 248rpx;
    height: 79rpx;
}