.nav {
    width: 750rpx;
    height: 294rpx;

    background-image: url("../../images/bg-1.png");
    background-size: 100% 100%;
    text-align: center;
}
.nav .tips1{
    display: inline-block;
    margin-top: 59rpx;
    font-size: 60rpx;
    color: #AF8128;
}
.nav .tips2{
    width: 420rpx;
    text-align: center;
    margin: 0 auto;
    font-size: 30rpx;
    color: #BD8021;
    margin-top: 10rpx;
}
.progress {
    position: relative;
    margin-top: 100rpx;
}
.progress .box {
    margin-left: 120rpx;
    font-size: 26rpx;
}
.progress .box .number {
    display: inline-block;
    text-align: center;
    width: 58rpx;
    height: 58rpx;
    line-height: 58rpx;
    border-radius: 29rpx;
    color:  #F9AC30;
    margin-right: 30rpx;
    box-sizing: border-box;
    border: 2rpx solid #F9AC30;
    font-size: 34rpx;
}
.progress .box .number.active{
    color: #fff;
    background: #F9AC30;
}
.excessive {
    height: 92rpx;
    border-left: 2rpx dotted #F9AC30;
    margin-left: 149rpx;
}
.footer {
    margin-top: 168rpx;
}
.footer .btn {
    width: 419rpx;
    height: 76rpx;
    background: linear-gradient(
        -9deg,
        rgba(254, 204, 52, 1),
        rgba(248, 168, 47, 1)
    );
    border-radius: 38rpx;
    font-size: 34rpx;
    color: #fff;
}
.footer .btn::after{
    border: none;
}
.footer view{
    margin: 0 auto;
    text-align: center;
    margin-top: 48rpx;
    width: 484rpx;
    font-size: 22rpx;
    color: #999999
}

.warpper .content .close{
    position: absolute;
    right: 18rpx;
    top: -31rpx;
    
}

.warpper .content .close image{
    width: 44rpx;
    height: 88rpx;
}

















.warpper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}
.content {
    position: absolute;
    top: 327rpx;
    left: 175rpx;
    width: 400rpx;
    height: 475rpx;
    background-image: url("../../images/弹窗.png");
    background-size: 100% 100%;
    z-index: 999;
}
.content .tips {
    font-size: 36rpx;
    margin-top: 207rpx;
    text-align: center;
    margin-bottom: 10rpx;
}
.content .text {
    text-align: center;
    font-size: 28rpx;
    color: #999;
}
.content .btn {
    width: 200rpx;
    height: 70rpx;
    background: linear-gradient(
        -9deg,
        rgba(254, 204, 52, 1),
        rgba(248, 168, 47, 1)
    );
    border-radius: 35rpx;
    font-size: 32rpx;
    color: #fff;
    margin-top: 45rpx;
}
.content .btn::after{
    border: none
}