.container {
    height: auto;
}
.exams-group {
    width: 750rpx;
    height: 98rpx;
    background: rgba(255, 255, 255, 1);
    line-height: 98rpx;
}
.exam-title {
    font-size: 32rpx;
    font-family: PingFang SC;
    font-weight: 400;
    color: rgba(34, 34, 34, 1);
    padding-left: 31rpx;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}
.right-dir {
    width: 12rpx;
    height: 22rpx;
    float: right;
    margin: 38rpx 33rpx 34rpx 0rpx;
    background: url("../../images/返回.png") no-repeat 0 0/100% 100%;
}
