.vedio {
    width: 100%;
    height: 422rpx;
    position: relative;
    display: flex;
    background-color: #cccccc;
}
.vedios {
    width: 100%;
    height: 420rpx;
}
.geli {
    width: 100%;
    height: 13rpx;
}
/* 选项卡css */
.swiper-tab {
    width: 100%;
    text-align: center;
    height: 80rpx;
    line-height: 88rpx;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.swiper-tab-item {
    width: 30%;
    color: #434343;
}
.active {
    color: #f8a92f;
    border-bottom: 2rpx solid #f8a92f;
}
swiper {
    text-align: center;
}
.swiper {
    width: 100%;
    flex: 1;
    height: 100vh;
}
/*目录css*/

.content {
    height: 116rpx;
    width: 100%;
    background-color: white;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 0px 0px rgba(24, 26, 26, 0.08);
}
.display {
    display: flex;
}
.imagess {
    width: 50rpx;
    height: 50rpx;
    margin-top: 35rpx;
    margin-left: 21rpx;
}
.imagess-2 {
    width: 46rpx;
    height: 46rpx;
    margin-top: 25rpx;
    margin-left: 23rpx;
}
.bigchapter {
    font-size: 32rpx;
    margin-left: 22rpx;
    line-height: 116rpx;
    font-weight: 400;
}
.content-chapter {
    height: 93rpx;
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;
}
.mchapter {
    font-size: 30rpx;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-left: 19rpx;
    line-height: 100rpx;
    display: flex;
}

.smallgelis {
    position: relative;
    height: 1px;
    background: rgba(237, 237, 237, 1);
    display: flex;
    width: 665rpx;
    margin-left: 85rpx;
}
.test {
    width: 100%;
    height: 520px;
    background-color: rebeccapurple;
}

/* */
.content-chapters {
    height: 101rpx;
    width: 100%;
    display: flex;
    position: relative;
    background: rgba(248, 248, 248, 1);
}
.content-chapters text {
    color: #999999;
}
.Y-axis {
    height: 98rpx;
    width: 1px;
    background-color: #e6e6e6;
    position: absolute;
    left: 46rpx;
    top: -49%;
}
.mchapter {
    font-size: 30rpx;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-left: 19rpx;
    line-height: 100rpx;
    display: flex;
}
.imagess-point {
    width: 17rpx;
    height: 17rpx;
    margin-top: 37rpx;
    margin-left: 38rpx;
}
.cache {
    position: absolute;
    bottom: 5rpx;
    right: 24rpx;
    font-size: 18rpx;
    color: rgba(179, 179, 179, 1);
}
.vediostar {
    height: 38rpx;
    width: 38rpx;
    position: absolute;
    top: 21rpx;
    right: 32rpx;
}
.schapter {
    font-size: 30rpx;
    color: #333333;
    margin-left: 29rpx;
    line-height: 98rpx;
    display: flex;
}
.jy {
    width: 100%;
    height: 422rpx;
}

/*评价页面*/
.star {
    position: relative;
    width: 100%;
    height: 306rpx;
    background: rgba(255, 255, 255, 1);
    display: flex;
    margin: 0;
}
.evaluteall {
    height: 40rpx;
    font-size: 42rpx;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 40rpx;
    position: absolute;
    left: 29rpx;
    top: 31rpx;
}
.star text {
    width: 141rpx;
    height: 22rpx;
    font-size: 22rpx;
    font-weight: 300;
    color: rgba(153, 153, 153, 1);
    line-height: 22rpx;
    position: absolute;
    right: 32rpx;
    top: 47rpx;
}
.totlestar {
    width: 132rpx;
    height: 67rpx;
    font-size: 88rpx;
    font-family: PingFang SC;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    line-height: 43rpx;
    position: absolute;
    left: 31rpx;
    bottom: 75rpx;
}
.start-xing {
    width: 215rpx;
    height: 172rpx;
    position: absolute;
    left: 148rpx;
    bottom: 0rpx;
    display: flex;
    flex-direction: column;
}
.star image {
    width: 18rpx;
    height: 18rpx;
    margin-left: 12rpx;
}
.xing5 {
    height: 34rpx;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.proxing {
    width: 318rpx;
    height: 172rpx;
    position: absolute;
    bottom: 0rpx;
    display: flex;
    flex-direction: column;
    right: 31rpx;
}
.progress{
border-radius:2px;
width: 318rpx;
height: 34rpx;
   display: flex;
    flex-direction: row-reverse;
    margin: auto;
    margin-top: -9rpx;
}

.evalute{
    position: relative;
    width: 100%;
    height:300rpx;
    border-top-style: solid;
    border-width:1px;
    border-color:#EDEDED;
    background-color: #FFFFFF;
}
.usericon{
     width: 134rpx;
     height: 100%;
     position: absolute;
     display: flex;

}

.user{
    width: 100%;
    height: 100%;
    position: relative;
}
.userintro{
  height: 121rpx;
  width: 600rpx;
  position: absolute;
  right: 0;

}
.userp{
    width: 600rpx;
    height: 152rpx;
    position: absolute;
    right: 0rpx;
    bottom: 0rpx;
}
.usericon-back{
    position: absolute;
    width: 78rpx;
    height: 80rpx;
    left: 30rpx;
    top: 43rpx;
  background:rgba(208,206,217,1);
border:1rpx solid rgba(204,204,204,1);
border-radius:50%;
}
.usericon-back image{
    height: 78rpx;
    width: 78rpx;
    margin: auto;
    border-radius:50%;
}
.username{
    width: 90rpx;
    height: 32rpx;
    position: absolute;
    top: 42rpx;
     line-height: 32rpx;
     font-size:30rpx;
      text-align: left;
font-weight:400;
color:rgba(51,51,51,1);
}
.user-date{
    width:103rpx;
height:17rpx;
font-size:22rpx;
font-weight:300;
color:rgba(153,153,153,1);
line-height:17rpx;
position: absolute;
top:88rpx;
}
.usercontent{
    height: 112rpx;
    width: 577rpx;
    position: absolute;
    right: 39rpx;
    bottom: 60rpx;

    font-size:26rpx;
font-weight:300;
color:rgba(51,51,51,1);
line-height:42rpx;

}

.start{

    position: absolute;
    height: 24rpx;
    width: 180rpx;
    right: 35rpx;
    top: 50rpx;
    display: flex;
    flex-direction: row;
}
.start image{
    height: 24rpx;
    width: 24rpx;
    margin: auto;
    margin-left: 6rpx;
}
