.coontiner {
    display: flex;
}
.left {
    width: 154rpx;
    position: fixed;
    height: 100%;
}
.right {
    position: fixed;
    left: 158rpx;
    width: 595rpx;
    border-left: 1rpx solid #E6E6E6;
    height: 100%;
}
.select {
    margin-top: 10%;
    margin-bottom: 30%;
    text-align: center;
    font-size: 30rpx;
    padding-top: 10%;
    border-left: 4rpx solid #FECC34;
    color: #FECC34;
}
.noselect {
    margin-top: 10%;
    text-align: center;
    color: #333333;
    font-size: 30rpx;
    padding-top: 10%;
    margin-bottom: 30%;
}
.scview {
    height: 100%;
}
.scview-top{
    height: 640rpx;
}
.scview-middle{
    height: 460rpx;
}
.scview-bottom{
      height: 100%;
}
.rtitle {
    font-size: 36rpx;
    margin: 40rpx 0 21rpx 31rpx;;
    
}
.rtitle1 {
    margin-bottom: 20rpx;
    margin-left: 3%;
    margin-top: 10rpx;
}
.content {
    margin: 10rpx 10rpx 20rpx 16rpx;
    float: left;
    width: 45%;
    height: 160rpx;
    background: #F6F6F6;
    border-radius: 20rpx;
}
.contentls {
    margin: 10rpx 55% 20rpx 16rpx;
    float: left;
    width: 45%;
    height: 160rpx;
    background: #F6F6F6;
    border-radius: 20rpx;
    background: url() no-repeat
}
.contents {
    position: relative;
    margin: 10rpx 10rpx 20rpx 16rpx;
    float: left;
    width: 45%;
    height: 160rpx;
    background: #FFFBEF;
    border-radius: 20rpx;
}

.content view,
.contents view,.contentls view {
    text-align: center;
    font-size: 22rpx;
}
.contents view,
.content view,.contentls view {
    margin-top: 114rpx;
}
#zqcy {
    background: url("../../images/证券从业.png") no-repeat 50% 20% #FFFBEF;
}
#jjcy {
    background: url("../../images/基金从业.png") no-repeat 50% 20% #F6F6F6;
}
#yh {
    background: url("../../images/银行.png") no-repeat 50% 20% #F6F6F6;
}
#qh {
    background: url("../../images/期货.png") no-repeat 50% 20% #F6F6F6;
}
#zqzx {
    background: url("../../images/证券专项.png") no-repeat 50% 20% #F6F6F6;
}
#cfa {
    background: url("../../images/CFA.png") no-repeat 50% 20% #F6F6F6;
}
#zk {
    background: url("../../images/注会.png") no-repeat 50% 20% #F6F6F6;
}
#ck {
    background: url("../../images/初会.png") no-repeat 50% 20% #F6F6F6;
}
#zhk {
    background: url("../../images/中会.png") no-repeat 50% 20% #F6F6F6;
}
#zj {
    background: url("../../images/中级经济师.png") no-repeat 50% 20% #F6F6F6;
}
#xf {
    background: url("../../images/消防.png") no-repeat 50% 20% #F6F6F6;
}
#yj {
    background: url("../../images/一建.png") no-repeat 50% 20% #F6F6F6;
}
#ej {
    background: url("../../images/二建.png") no-repeat 50% 20% #F6F6F6;
}
