.container{
        background-color: #F1F3F6;
}
.personal_data{
    padding-top: 30rpx;
    background-color:white;
    height: 120rpx;
}
.head{
    color:#666666;
     font-size: 30rpx;
     position: relative;
     top: 35rpx;
     left: 15rpx;
}

.icon{
    width: 76rpx;
    height: 76rpx;
    border-radius: 50%;
    float: right;
    position: relative;
    overflow: hidden;
    right: 15rpx;
    top:20rpx;
}
.head_icon{
    float: right;
    position: relative;
    overflow: hidden;
    right: -7%;
    color: white;
    margin-top: 5%;
    font-size: 20rpx;
}
.head_icon_black{
    color: black;
    float: right;
    position: relative;
    margin-top: 6%;
    font-size: 30rpx;
    right: 15rpx;
}
/*分割线样式*/
.divLine{
 background:#F1F3F6;
 width: 100%;
 height: 2rpx;
 margin-top: 70rpx;
}

.personal_data2{
    margin-top: 30rpx;
}

.logout{
    text-align: center;
    align-items: center;
    justify-content: center;  
    position: fixed;
    bottom: 0;
    width: 750rpx;
    height: 120rpx;
    line-height: 120rpx;
    background-color: white;
    color:#333333;
    font-size: 30rpx;
}
.logout::after{
    border: none;
}

.logout_alert{
    display: flex;
    text-align: center;
    background: white;
  flex-direction: column;
    height: 209rpx;
    width: 685rpx;
    position: fixed;
    bottom: 160rpx;
    z-index: 8000;
    margin-left: 32.5rpx;
    border-radius:12rpx;
}
.logout_tittle{
   color:rgb(174, 174, 174);
   padding-top: 20rpx; 
   text-align: center;
   margin-left: 20rpx;
}
.confirm_blue{
    width: 100%;
    position: absolute;
    bottom: 0;
    
    padding: 20rpx 0 20rpx 0;
    margin: 0;
    color: #F49622;
    font-size: 36rpx;
}
.logout_alert_cnacel{
     display: flex;
    text-align: center;
    background: white;
   flex-direction: column;
    height: 104rpx;
    width: 685rpx;
    position: fixed;
    bottom: 30rpx;
    z-index: 8000;
    margin-left: 32.5rpx;
    border-radius:12rpx;
    line-height: 104rpx;
}
.cancel_red{
    color: #222222;
    font-size: 36rpx;
    z-index: 8000;
    overflow: hidden;
}

.modal-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background:rgba(0, 0, 0, 0.6);
  overflow: hidden;
  z-index: 90000;
  color: #fff;
}
