/* 
 *
 *
 */
body {
    height: 100%;
}
.container {
    position: relative;
    height: 100%;
}
.scroll-box {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.exam-box {
    width: calc(100% + 40rpx);
    height: 100%;
}
.exams-wrap {
    height: 94rpx;
    line-height: 94rpx;
    padding: 0 32rpx 0 46rpx;
    border-bottom: 1px solid #ededed;
}
.exams-group {
    position: relative;
    z-index: 999;
}
.exams-group::after {
    content: "";
    position: absolute;
    height: 50rpx;
    width: 6rpx;
    background-color: #fff;
    top: 0;
    left: -3rpx;
    z-index: 1;
}
.exams-wrap .add-icon {
    position: absolute;
    top: 50%;
    left: -23rpx;
    margin-top: -36rpx;
    display: inline-block;
    width: 46rpx;
    height: 46rpx;
    background: url("../../images/hide-icon.png") no-repeat 0 0/100%;
    z-index: 99;
}
.exams-group .exam-title {
    font-size: 30rpx;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    margin-left: 25px;
    width: 420rpx;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.exams-wrap .right-dir {
    width: 14rpx;
    height: 26rpx;
    float: right;
    background: url("../../images/diraction-right.png") no-repeat 0 0/100%;
    margin-top: 32rpx;
    margin-right: 52rpx;
}
.exam-show .exam-item-wrap {
    display: blcok;
}
.exam-show .exams-wrap {
    border-bottom: none;
}
.exam-show .exams-group {
    border-left: 1px solid #e6e6e6;
}
.exam-show .exams-wrap .add-icon {
    background: url("../../images/show-icon.png") no-repeat 0 0/100%;
}
.exam-hide .exam-item-wrap {
    display: none;
}
/* 子项 */
.exam-item-wrap {
    height: 106rpx;
    background: rgba(248, 248, 248, 1);
    line-height: 106rpx;
    padding-left: 46rpx;
}
.exam-item {
    height: 100%;
    border-left: 1rpx solid #e6e6e6;
}
.exam-item-border {
    height: 100%;
    border-bottom: 1rpx solid #ededed;
    margin-left: 25px;
}
.exam-item .add-icon {
    float: left;
    margin-left: -11rpx;
    margin-top: 44rpx;
    width: 18rpx;
    height: 18rpx;
    background: rgba(255, 255, 255, 1);
    border: 2rpx solid rgba(255, 179, 20, 1);
    border-radius: 50%;
}
.exam-item .exam-title {
    font-size: 30rpx;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    width: 420rpx;
    display: inline-block;
    height: 106rpx;
    line-height: 106rpx;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.exam-item .right-dir {
    width: 14rpx;
    height: 26rpx;
    float: right;
    background: url("../../images/diraction-right.png") no-repeat 0 0/100%;
    margin-top: 40rpx;
    margin-right: 84rpx;
}
.go-practice-wrap {
    height: 10%;
    width: 100%;
    background: #fff;
    position: absolute;
    z-index: 11;
    bottom:0 ;
}
.go-practice {
    width: 686rpx;
    height: 88rpx;
    background: url("../../images/big-btn.png") no-repeat 0 0/100%;
    margin-left: 32rpx;
    line-height: 88rpx;
}
.go-practice .exam-type {
    width: 350rpx;
    margin-left: 34rpx;
    font-size: 28rpx;
    font-weight: 300;
    color: rgba(0, 0, 0, 1);
    opacity: 0.35;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.go-practice > image {
    width: 172rpx;
    height: 31rpx;
    float: right;
    margin-right: 28rpx;
    margin-top: 29rpx;
}
